.Projects {
    background-image: radial-gradient(circle, rgba(5,114,186,1) 23%, rgba(27,134,164,1) 51%, rgba(119,7,246,1) 100%);
}

.Project .ProjectContent {
    display: flex;
    flex-direction: colum;
    align-items:center;
}

.Project .Videos {
    width: 70%;
}

.Project .Paragraph {
    width: 65%;
}

.Projects .VideoContainer .Thumbnail img {
    max-width: 489px;
}

.Project .VideoContainer .Text {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Project .VideoContainer .Thumbnail {
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.Project .VideoContainer .Thumbnail .linkButton {
    position: absolute;
    width: 24%;
    left: 44%;
    top: 29%;
}


