.Projects {
    background-image: radial-gradient(circle, rgba(5,114,186,1) 23%, rgba(27,134,164,1) 51%, rgba(119,7,246,1) 100%);
    
}


.Projects .ProjectsContent {
    display: flex;
    flex-direction: colum;
    align-items:center;
}

.Projects .Videos {
    width: 70%;
}

.Projects .Paragraph {
    width: 65%;
}

.Projects .VideoContainer .Thumbnail img {
    max-width: 489px;
}

.Projects .VideoContainer .Text {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Projects .VideoContainer .Thumbnail {
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.Projects .VideoContainer .Thumbnail .linkButton {
    position: absolute;
    width: 24%;
    left: 44%;
    top: 29%;
}

.Projects .Videos .VideoContainer {
    display: flex;
    background:rgb(0, 132, 255);
    margin-bottom: 5%;
    height: 300px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px whitesmoke;
}
