.AboutMe {
    background-image: radial-gradient(circle, rgba(2,3,75,1) 0%, rgba(32,9,97,1) 2%, rgba(0,0,0,1) 75%);
    padding-bottom: 5%;
}

.AboutMe .Container {
    display: flex;

}

.AboutMe .Container .Text {
    width: 57%;
    margin-left: 3%;
}

.AboutMe .Container .Text h2 {
    font-weight: 900;
    font-size: 46px;
}

.AboutMe .Container .Photo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.AboutMe .Container .Photo .Me {
    height: 500px;
    border-radius: 10%;
}