.Home {
    display: flex;
    height: 630px;
    padding-top: 80px;
    background-image: url("../../img/background1.jpg");
    background-size: cover;
    color:rgb(255, 254, 254);
}

.Home .Container {
    position: absolute;
    top: 15%;
    left: 2%;
    color: white;
}

.Home .Container .Hello {
    font-size: 63px;
}

.Home .Container h1 {
    margin: 0;

}

.Home .BinaryWorld {
    height: 15%;
    position:absolute;
    right: 2%;
}

.Home .Code {
    height: 15%;
    position: absolute;
    bottom: 15%;
    left: 2%;
}