.Contact {
    background-image: radial-gradient(circle, rgba(5,114,186,1) 23%, rgba(27,134,164,1) 51%, rgba(119,7,246,1) 100%);
    height: 300px;
    display: flex;
    align-items: center;
}

.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Contact .ContactIcons svg path {
    cursor: pointer;
}