.AboutMe {
    background-color: black;
}

.AboutMe .Container {
    display: flex;

}

.AboutMe .Container .Text {
    width:47%;
    margin-left: 3%;
}

.AboutMe .Container .Photo .Me {
    height: 500px;
    border-radius: 10%;
}